body {
    background-color: #edf0fc;
}

.total-result {
    font-size: 30px;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    color: #626262;
    font-weight: 500 !important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.text-button {
    font-size: 25px !important;
    font-weight: 700;
    color: #474747;
}

.btn-color {
    background-color: #cfcfcf;
    box-shadow: 0px 0px 4px 1px #a0a0a0;
}

.btn-color:hover {
    background-color: #3e3e3e;
    color: white;
}

.price {
    font-size: 16px;
    width: 80px;
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.div-label {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 18px;
}

.label {
    text-transform: capitalize;
    font-weight: 700;
}

.btn-danger-color {
    background-color: #ee3737;
    color: white;
    box-shadow: 0px 0px 4px 1px #a0a0a0;
}

.btn-danger-color:hover {
    color: white;
    background-color: #7c1212;
}